
GeneratedFiles/
Release/
Win32/
x64/
*.opendb
*.db
*.ipch
*.obj
*.pdb
*.log
*.tlog
*.dll
*.cache
*.db
*.ipch
*.opendb
*.obj
*.tlog
*.log
*.pdb
*.cache
*.dll
*.exe
*.ilk
*.ini
*.rar
.vs/zBrainSystem/v15/.suo
zBrainSystem.vcxproj.user
